@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5C5C5C;
}